<h1>Hello <%= current_user.email %> </h1>
 
 <!-- Topics index: show all and progress through each -->
<table>
  <tr>
    <th>Name</th>
    <th>Progress</th>
  </tr>
 
  <% @topics.each do |t| %>
    <tr>
      <td><%= link_to t.display_name, topic_path(t)  %></td>
      <td><%= "#{current_user.checkLevelAccess(t.id)} / #{t.numberOfLevels}" %></td>
      <td><%= %></td>
    </tr>
  <% end %>
</table>

<br>

<!-- Admin mode control -->
<% if current_user.isAdmin && !current_user.inAdminMode %>
  <%= link_to "Enter admin mode", "/users/adminMode/#{current_user.id}", remote: true %>
<% elsif @admin %>
  <%= link_to "Exit admin mode", "/users/adminMode/#{current_user.id}", remote: true %>
<% end %>

<!-- Admin mode links -->
<% if @admin %>
  <%= link_to "Questions index", controller: "questions", action: "index" %>
  <%= link_to "Users index", controller: "users", action: "index" %>
<% end %>


