<h1>Hello <%= current_user.email %> </h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Progress</th>
  </tr>
 
  <% @topics.each do |t| %>
    <tr>
      <td><%= link_to t.display_name, topic_path(t)  %></td>
      <td><%= "#{current_user.checkLevelAccess(t.id)} / #{t.numberOfLevels}" %></td>
      <td><%= %></td>
    </tr>
  <% end %>
</table>

<br>

<% if @admin %>
  <%= link_to "Questions index", controller: "questions", action: "index" %>
  <%= link_to "Users index", controller: "users", action: "index" %>
<% end %>
