<h1> <%= @topic.display_name %> </h1>

<table>
  <tr>
    <th>Level</th>    <th></th> <th></th>   <th>Previous high score</th>
  </tr>

  <% maxLevel = current_user.checkLevelAccess(@topic.id) %>
 
  <% for i in 1..@topic.numberOfLevels %>
    <tr>
      <td><% if name = @topic.level_names[i-1] %>
        <%= name %>
      <% else %>
        <%= "Level #{i}" %> 
      <% end %></td>

      <td><%= link_to 'Teaching', controller: 'teaching', action: 'show', forTopic: @topic.id, forLevel: i %></td>
      
      <td><% if i <= maxLevel %>
        <%= link_to 'Questions', controller: 'questions', action: 'respond', forLevel: i, forTopic: @topic.id  %>
      <% end %></td>

      <td><% if scoreRecord = current_user.getLevelScore(@topic.id, i) %>
        <%= "#{scoreRecord["score"]}% on  #{scoreRecord["date"]}" %>
      <% end %></td>
    </tr>
  <% end %>
</table>