
<% if browser.device.mobile? %>
   <% nCols = 1 %> 
<% else %>
   <% nCols = 3 %>
<% end %>
<% nItems = items.count %>
<% nRows = (nItems / nCols.to_f).ceil %>

<% max_level_access = max_level_access.nil? ? nItems : max_level_access %>


<table class="iconMenu">
<% nRows.times do |r| %>
   <tr>
      <% nCols.times do |c| %>
         <% k = (r*nCols) + c %>
         <% if k < nItems %>
            <td class="iconMenuCell"> 
            <% i = items[k] %>
            <% path = path_root + path_stubs[k] %>
            <% if k <= max_view_access %>
               <%= link_to image_tag("icons/" + icon_stubs[k], :class => "menuIcon"), path %>
               <%= link_to i, path %> 

               <% if defined?(secondaryLinks) %>
                  <% if k == 0 %>
                     <br> <br>
                  <% else %>
                     <% if k <= max_level_access %>
                        <br> <i> <%= link_to "Quiz", controller: "questions", action: "respond", 
                           id: @topic.id, levelName: path_stubs[k] %> </i>
                     <% else %>
                        <br><i> No access yet </i><br>
                     <% end %>
                  <% end %> </td>
               <% end %>

            <% else %>
               <%= image_tag("icons/" + icon_stubs[k], :class => "menuIcon") %>
               <%= i %> <br>
               <i> No access yet </i>
            <% end %>
         <% end %>
      <% end %>
   </tr>
<% end %>   
</table>