<!DOCTYPE html>

<!-- OPERATION ANATOMY -->
<!-- (C) Christopher Horton & Thomas Kirk 2016 onwards -->
<!-- All content and source code contained within is copyright unless explcitly stated otherwise. -->
<!-- This site is in development and as such is provided as-is with no guarantee as to the accuracy of content. -->
<!-- Separate licenses apply to the use of the Roboto font (Google) and WebRotate360, these may be viewed at -->
<!-- /public/RobotoLicense.txt (font) and /public/license.lic (WR360) -->

<html>

  <head>
      <title><%= site_name %></title>
      <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <% if browser.device.mobile? %>
      <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
      <% end %>
   </head>

<body>

   <!-- Navbar if the user is logged in -->
   <% if user_signed_in? %>
      <ul class='navbar-list'
         <% if current_user.revisionMode %>
            style='border-bottom: 7px double rgb(190, 0, 0);'
         <% end %> > 

         <% if controller_name == "topics" && params[:action] == "show" %>
            <% system = System.find(@topic.system_id) %>
            <li class="navbar-element left">
               <%= link_to "← #{system.name} system", system_path(system), :class => 'navbar-link' %>
            </li>

         <% elsif controller_name == "systems" && params[:action] == "show" %>
            <li class="navbar-element left">
               <%= link_to "← Home", systems_path, :class => 'navbar-link'  %>
            </li>

         <% elsif controller_name == "teaching" && params[:action] == "show" %>
            <% topic = Topic.find(params[:id]) %>
            <li class="navbar-element left">
               <%= link_to "← " + params[:forLevel].capitalize, topic_path(topic), :class => 'navbar-link' %>
            </li>

            <%# topic.levelNames[params[:forLevel].to_i] %>
      
         <% elsif !(controller_name == "systems" && params[:action] == "index") &&
                  !(controller_name == "questions") %>
            <li class="navbar-element left">
               <%= link_to "Home", systems_path, :class => 'navbar-link'  %>
            </li>

         <% end %>

         <div class="navbar-element-mid-container">
            <div class="navbar-element-mid">
               <% if browser.device.mobile? %>
                  <%= link_to image_tag('icons/logoNoText.png', :class => 'navbar-icon'), systems_path %>
               <% else %>
                  <%= link_to image_tag('icons/logoMid.png', :class => 'navbar-icon'), systems_path %>
               <% end %>
            </div>
         </div>

            
         <li class='navbar-element right'>
            <%= link_to image_tag('icons/settings.png', :class => 'navbar-icon', :title => 'Account settings'),         edit_user_registration_path %> 
         </li>
         
         <!-- 
         <li class='navbar-element right'>
            <%= link_to image_tag('icons/help.png', :class => 'navbar-icon', :title => 'Help'), controller: 'static', action: 'about' %>
         </li> -->

         <li class="navbar-element right">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
         </li>
      </ul>
   <!-- Navbar if the user is not logged in -->
   <% else %>
      <ul class='navbar-list'>

         <div class="navbar-element-mid-container">
            <div class="navbar-element-mid">
               <% if browser.device.mobile? %>
                  <%= link_to image_tag('icons/logoNoText.png', :class => 'navbar-icon'), root_path %>
               <% else %>
                  <%= link_to image_tag('icons/logoMid.png', :class => 'navbar-icon'), root_path %>
               <% end %>
            </div>
         </div>
         
         <li class="navbar-element right">
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
         </li>
      </ul>
   <% end %>



   <!-- Devise messages here. Integrate into the flash at some point? -->
   <% if notice %>
      <div>
      <p class="alert alert-success"><%= notice %></p>
      </div>
   <% end %>


   <!-- Flash messages here -->
   <div class="flash">
      <% if flash[:successMessage] %>
      <div>
         <script> window.alert("<%= flash[:successMessage] %>"); </script>
      </div>
      <% end %>
      <% flash.each do |name, msg| %>
         <%= content_tag :div, msg, class: name %>
      <% end %>
   </div>


    <!-- Yield to the main content itself, if devise center the whole lot.  -->
   <% if controller_name == "sessions" %>
      <div class="mainPage centered">
   <% else %>
      <div class="mainPage"> 
   <% end %>
      <%= yield %>
   </div>

  <!-- Footer -->
   <ul class="footer">
      <% if user_signed_in? %>
         <!-- Contact form  -->
         <li class="navbar-element right">
            <a href="javascript:showFeedbackForm()">
               <%= image_tag('icons/contact.png', :class => 'navbar-icon', :title => "Contact") %>
            </a>
         </li>

         <!-- Dictionary -->
         <li class="navbar-element right">
            <%= link_to image_tag('icons/glossary.png', :class => 'navbar-icon', :title => "Anatomical glossary"), 
               controller: "dictionary_entries", action: "index" %> 
         </li>

         <li class='navbar-element right'>
            <%= link_to image_tag('icons/help.png', :class => 'navbar-icon'), root_url + '/static/about' %>
         </li>  

      <% end %>
   </ul>
   
   <% if user_signed_in? %>
      <!-- Hidden div for the feedback form -->
      <div class="feedbackForm" id="feedbackForm">
         <div class="feedbackFormContent">
            <h2> Feedback </h2>
            <small> Thank you for your feedback. The email address associated with your account will automatically be included with your comment. </small>

            <%= form_for :feedback, :method => :post, :remote => true, 
                  :authenticity_token => true, :format => :js, :url => '/feedback' do |f| %>
               <div>
                  <p> <%= f.text_area :comment, placeholder: "Comment", style: 'width:100%' %> </p>
                  <%= hidden_field_tag(:userID, current_user.id) %>
               </div>

               <div> 
                  <%= f.submit "Submit", id: 'feedbackSubmit', onclick: "javascript:hideFeedbackForm()" %>
                  <button type=reset onclick="javascript:hideFeedbackForm()">Cancel</button>
               </div>
            <% end %>

         </div>
      </div>
   <% end %>

  </body>
  
</html>