<!DOCTYPE html>

<!-- OPERATION ANATOMY -->
<!-- (C) Chris Horton (content) and Tom Kirk (source code) 2016 -->
<!-- All content contained within is copyright unless explcitly stated otherwise. -->
<!-- This site is in development and as such is provided as-is with no guarantee as to the accuracy of content. -->

<html>
  <head>
    <title><%= site_name %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% if browser.device.mobile? %>
      <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <% end %>

  </head>

<!-- Navbar if the user is logged in -->
<div class='navbar'>
    <% if user_signed_in? %>

      <% if controller_name == "topics" && params[:action] == "show" %>
         <% system = System.find(@topic.system_id) %>
         <div class="navbar-element left"><p><%= link_to system.name + " system", system_path(system) %></p></div>
      <% elsif controller_name == "systems" && params[:action] == "index" %>
         <div class="navbar-element left"><p><%= link_to "Home", systems_path %></p></div>
      <% elsif controller_name == "teaching" && params[:action] == "show" %>
         <% topic = Topic.find(params[:id]) %>
         <div class="navbar-element left"><p><%= link_to topic.levelNames[params[:forLevel].to_i], topic_path(topic) %></p></div>
      <% elsif controller_name != "questions" || controller_name != "systems" %>
         <div class="navbar-element left"><p><%= link_to "Home", systems_path %></p></div>
      <% end %>
      
      <div class="navbar-element right">
         <p><strong><%= link_to "Account", edit_user_registration_path, :class => 'navbar-link' %></strong> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></p></div>

<!-- Navbar if the user is not logged in -->
    <% elsif controller_name != "questions" %>
      <div class="navbar-element left"> 
         <p>Operation Anatomy</p> 
      </div>
      <div class="navbar-element right">
         <p><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></p></div>
    <% end %>
</div>

<!-- Body of the page -->
  <body>
    <!-- Devise messages here. Integrate into the flash at some point? -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <!-- Flash messages here -->
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <!-- Yield to the main content itself -->
    <%= yield %>
  </body>
  
</html>